{% extends 'home.html' %}
<h1>Krishan's Poem App</h1>
{% block content %}
<!-- <form>
{% for book in books%}
<form class="form-signin span2 centered" id="like" method="get">
	<div class = 'row'>
		<input type="radio" name={{book.id}}>{{book.name}} {{book.text.path}}
	</div>
{% endfor %}
	<div class = 'row'>
		<button class="btn btn-primary" name='submit' type='submit'>Make Poem!</button>
	</div>
</form> -->
<form class="form-signin span2 centered" id="like" method="get">
	<div class='row'>
		<select multiple class='form-control' name='book1'>
		{% for book in books %}
			<option value={{book.id}}>{{book.name}}</option>
		{% endfor %}
		</select>
	</div>
	</br >
	<div class='row'>
		<select multiple class='form-control' name='book2'>
		{% for book in books %}
			<option value={{book.id}}>{{book.name}}</option>
		{% endfor %}
		</select>
	</div>
	<div class='row'>
		<button class="btn btn-primary" name='submit' type='submit'>Make Poem!</button>
	</div>
</form>
<h2>{{files}}</h2>
<h2>{{poem}}</h2>
</form>
{% endblock %}
