{% extends 'home.html' %}
<h1>Krishan's Poem App</h1>
{% block content %}
<div class="form-width">
<form class="form-signin span4 centered" id="upload" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	Book Title: <input type="text" class="btn-block form-control" placeholder="Book title" name="title" value="" size="50" />
	<br />
	Author: <input type="text" class="btn-block form-control" placeholder="Author" name="author" value="" size="50" />
	<br />
	Choose File... <input type="file" name="file_to_upload">
	<br>
	<button class='btn btn-primary span2 centered' name='submit' type='submit'>Upload</button>
</form>
</div>
<!-- <form class="form-signin span4 centered" id="upload" method="get" enctype="multipart/form-data">
	{% for field in book_form.visible_fields %}
	{{ field.errors }}
	{{ field.help_text }}<br>	
	{{ field }}<br>
	{% endfor %}
	<button class='btn btn-primary span2 centered' name='submit' type='submit'>Upload</button>
</form> -->
{% endblock %}